.header {
  top: 0;
  padding: 0 3rem;
  z-index: 2;
  position: sticky;
  height: 8rem;
  background-color: $color-primary;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 1/-1;

  &__logo-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 17vw;
    animation: moveInLeft 1s ease-in-out;
  }

  &__user {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    animation: moveInRightRough 1s ease-in-out;
    cursor: pointer;
    position: relative;
    padding: 1rem;

    &:hover {
      background-color: #f4f6fb;
      h2 {
        color: $color-primary;
      }
      svg {
        fill: $color-primary;
      }
    }

    &--dropdown {
      box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.08);
      background-color: #f4f6fb;
      position: absolute;
      right: 0rem;
      display: none;
      top: 100%;
      width: 100%;
      ul {
        list-style: none;
        li {
          padding: 1rem;
          color: $color-grey-dark;
          font-size: 1.5rem;
          &:hover {
            background-color: $color-primary;
            color: #fff;
          }
        }
      }
    }
    &--title {
      color: $color-grey-light-2;
      font-style: normal;
      font-weight: normal;
    }
  }
}

.header__user:hover .header__user--dropdown,
.header__user:hover .header__user--dropdown {
  display: block;
}
