.header {
  top: 0;
  padding: 0 3rem;
  z-index: 2;
  position: sticky;
  height: 8rem;
  background-color: $color-primary;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 1/-1;

  &__logo-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 17vw;
  }

  &__user {
    display: flex;
    align-items: center;

    &--img {
      margin-right: 0.5rem;
    }
    &--title {
      color: $color-grey-light-2;
      font-style: normal;
      font-weight: normal;
    }
  }

  &__menu {
    position: relative;
    display: inline-block;
    margin-left: 1.5rem;

    &::before {
      top: -0.9rem;
    }
    &::after {
      top: 0.9rem;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }
  }
  &__menu,
  &__menu::before,
  &__menu::after {
    width: 2.4rem;
    height: 0.3rem;
    background-color: #fff;
    display: inline-block;
  }

  &__checkbox:checked + section.sidebar {
    width: 100vw;
    opacity: 1;
  }
}
