.job {
  animation: moveInRight 1s ease-in-out;
  height: 100%;
  background-color: $color-grey-light;
  padding: 1.5rem 2rem;

  border: 1px solid #e4e4e4;

  &__status {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      left: 0;
      display: inline-block;
      padding: 0.4rem 0.8rem;
      border-radius: 4px;
      color: #fff;
      text-transform: uppercase;
    }

    &--to-do {
      background-color: $color-grey-dark;
    }
    &--progress {
      background-color: $color-primary-dark;
    }
    &--done {
      background-color: $color-secondary;
    }

    svg {
      right: 0;
    }
  }
  &__status-list {
    padding: 1.6rem;
    margin-top: 2rem;
    background-color: #fff;
    border: 1px solid #e4e4e4;
    box-sizing: border-box;
    border-radius: 8px;
    display: grid;
    row-gap: 1.2rem;
    grid-template-rows: repeat(2, 1fr);
    min-height: 8.7rem;

    &--add {
      grid-template-columns: min-content 1fr min-content;
    }

    &--progress,
    &--done {
      grid-template-columns: 1fr min-content;
    }

    &--priority,
    &--text {
      align-self: center;
      justify-self: start;
      margin-right: 1rem;
      grid-row: 1/-1;
    }

    &--text {
      display: block;

      p {
        margin-top: 1rem;
      }
    }

    &--delete,
    &--info {
      display: none;
    }

    &:hover &--delete,
    &:hover &--info {
      display: block;
    }
  }

  &__status-add {
    margin-top: 3.2rem;
    &--btn {
      display: flex;
      align-content: center;
      text-transform: uppercase;

      h3 {
        color: $color-primary;
      }
      svg {
        fill: $color-primary;
        margin-right: 0.8rem;
      }
    }
  }
}
