.jobs {
  margin-bottom: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  gap: 1rem;
  overflow: auto;
  @include dashboardbody;

  &__delete-confirm {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    justify-content: center;
    align-items: center;
    height: 15rem;
    width: 50rem;
    background-color: $color-grey-light;
    border: 1px solid #e4e4e4;
    box-sizing: border-box;
    border-radius: 8px;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    h2 {
      font-weight: 700;
      font-size: 2rem;
    }

    &--buttons {
      display: flex;
      gap: 3rem;
      justify-content: space-between;

      button {
        color: #fff;
        border: none;
        font-weight: 700;
        padding: 0.5rem 1.5rem;
        background-color: $color-primary;

        &:hover {
          background-color: #00568e;
        }

        &:active {
          background-color: $color-primary-dark;
        }
      }
    }
  }
}

.job {
  animation: moveInRight 1s ease-in-out;
  height: 100%;
  background-color: $color-grey-light;
  padding: 1.5rem 2rem;

  border: 1px solid #e4e4e4;

  &__delete-confirm {
    position: fixed;
    display: none;
    flex-direction: column;
    gap: 3.5rem;
    justify-content: center;
    align-items: center;
    height: 15rem;
    width: 50rem;
    background-color: $color-grey-light;
    border: 1px solid #e4e4e4;
    box-sizing: border-box;
    border-radius: 8px;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    h2 {
      font-weight: 700;
      font-size: 2rem;
    }

    &--buttons {
      display: flex;
      gap: 3rem;
      justify-content: space-between;
      align-items: center;

      span {
        color: #fff;
        border: none;
        font-weight: 700;
        font-size: 1.5rem;
        padding: 0.5rem 1.5rem;
        background-color: $color-primary;

        &:hover {
          background-color: #00568e;
        }

        &:active {
          background-color: $color-primary-dark;
        }
      }
    }
  }

  &__status {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      left: 0;
      display: inline-block;
      padding: 0.4rem 0.8rem;
      border-radius: 4px;
      color: #fff;
      text-transform: uppercase;
    }

    &--to-do,
    &--progress,
    &--done {
      margin-bottom: 1rem;
    }

    &--to-do {
      background-color: $color-grey-dark;
    }
    &--progress {
      background-color: $color-primary-dark;
    }
    &--done {
      background-color: $color-secondary;
    }

    svg {
      right: 0;
    }
  }
  &__status-list {
    padding: 1.6rem;
    margin-top: 1.5rem;
    background-color: #fff;
    border: 1px solid #e4e4e4;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    row-gap: 1.2rem;
    min-height: 8.7rem;

    &--priority,
    &--text {
      align-self: center;
      justify-self: start;
      margin-right: 1rem;
      grid-row: 1/-1;
    }

    &--text {
      display: block;

      p {
        margin-top: 1rem;
      }
    }

    &--delete-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &--text {
      display: block;

      p {
        margin-top: 1rem;
      }
    }

    &--delete,
    &--info {
      display: none;
    }

    &:hover &--delete,
    &:hover &--info {
      display: block;
    }
  }

  &__status-add {
    margin-top: 3.2rem;
    &--btn {
      display: flex;
      align-content: center;
      text-transform: uppercase;

      h3 {
        color: $color-primary;
      }
      svg {
        fill: $color-primary;
        margin-right: 0.8rem;
      }
    }
  }
}
.job #delete-job:checked ~ .job__delete-confirm {
  display: flex;
}
.job #close-delete:checked ~ .job__delete-confirm {
  display: none;
}
