.tools {
  @include table-page;
  &__checkbox {
    background-color: $color-grey-light-2;
    height: 2.4rem;
    width: 2.4rem;
    align-items: center;
    display: block;
    position: relative;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      display: none;
      transform: translate(-50%, -50%);
    }
    &--checked {
      svg {
        display: block;
      }
    }
  }
}
